@media screen and (max-width: 780px) {
  /* csss  nav menu  */
  .top_menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:2px solid black; */
    text-align: center;
    /* width:100%; */
  }
  .nav_topitems {
    margin: 0;
  }
  .menu1 {
    width: 100%;
    height: auto;
  }
  .menu1 h2 a{
    color:black;
    text-decoration: none;
  }
  .menu1 h5 {
    display: none;
  }
  .nav_bottom {
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .nav_bottom_left {
    width: auto;
    margin-left: 15px;
  }
  .nav_bottom_right {
    width: 100%;
    /* border: 2px solid red; */
  }
  .nav_menu2 {
    width: 50%;
    margin: 2px 0;
    display: flex;
    justify-content: center;
    font-size: 1rem;
  }
  .nav_bottom .location_name {
    margin: 0;
  }
  .address p {
    /* display: ; */
    margin: 0;
  }
  .address .country,
  .address .phone {
    display: none;
  }
  /* nav menu end  */
  .navbar {
    width: 100%;
  }
  .navbarright {
    margin: 0;
  }
  .banner {
    height: 60vh;
  }
  .carousel-item {
    height: 60vh;
  }
  /* section 02 staeted */
  .sec02 {
    height: auto;
    flex-wrap: wrap;
  }
  .sec02main {
    flex-wrap: wrap-reverse;
    transition: all 0.5s;
    height: auto;
    justify-content: center;
    overflow: auto;
    background-image: url("https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=328,h=677,fit=crop/YbNDRV1z3yFD1r1a/275537946_154995566890286_3902680925621921314_n-AoPEXoovn8F16aPx.jpg");
    background-size: contain;

    color: black;
    /* margin: 0; */
    padding: 0;
    /* width: 100%; */
    /* padding: 0rem; */
  }
  .sec02main .sec02container {
    /* height: AUTO; */
    /* flex-direction: column; */
    flex-wrap: wrap-reverse;
    background-color: rgba(225, 222, 222, 0.547);
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
    /* filter: blur(10px); */
  }
  .content {
    min-width: 300px;
    width: 100%;
    height: 100%;
    padding: 1.5rem;

    /* filter:blur(-10px) */
    /* background-color: black; */
  }
  /* this is bannerr imagess  */
  .imagecontainer2 {
    min-width: 300px;
    height: 50%;
    display: none;
  }
  /* card imagess with animation  */
  .imgmain {
    display: flex;
    flex-wrap: wrap;
    height: 1350px;
    width:100%;
    /* max-width: 250px; */
  }
  .imgcont1 {
    height: 50%;
    width:100%;
    margin: 0;
    /* min-height: 500px; */
  }
  .imginner{
    width:100%;
  }
  .imgcont2 {
    display: none;
  }
  .imggrow{
    width: 90%;
    height:95%;
    /* min-height:450px; */
  }
  .sec01 {
    padding: 1rem;
  }
  .sec01content {
    margin-left: -1rem;
    transition: all 1s;
  }
  .sec01content h1 {
    width: 90%;
  }
  .sec3subscription {
    width: 90%;
    height: 90%;
  }
  .sec3 {
    height: 330px;
    background-size:cover;
    /* background-repeat:no-repeat; */
  }
  .sec3subscription input {
    width: 80%;
  }
  .sec4 {
    height: auto;
    flex-wrap: wrap;
  }
  .sec4vid {
    min-width: 96%;
    margin-bottom: 15px;
  }
  footer {
    margin-bottom: 0rem;
    height: 1040px;
  }
  .mainfooter .nav_main {
    height: 160vh;
    /* overflow: visible; */
    /* background-color: red; */
  }
  .mainfooter .nav_main .bclose {
    display: none;
  }
  .mainfooter .nav_topitems {
    /* color:white;/ */
    height: 600px;
  }
  .mainfooter .address .country,
  .mainfooter .address .phone {
    display: block;
  }
}

@media screen and (max-width: 1100px) {
  .imgcont2 {
    display: none;
  }
  .mainfooter h5 {
    opacity: 1;
  }
}
