@media screen and (max-width: 780px) {
  /* csss  nav menu  */
  .top_menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:2px solid black; */
    text-align: center;
    /* width:100%; */
  }
  .nav_topitems {
    margin: 0;
  }
  .menu1 {
    width: 100%;
    height: auto;
  }
  .menu1 h2 a {
    color: black;
    text-decoration: none;
  }
  .menu1 h5 {
    display: none;
  }
  .nav_bottom {
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .nav_bottom_left {
    width: auto;
    margin-left: 15px;
  }
  .nav_bottom_right {
    width: 100%;
    /* border: 2px solid red; */
  }
  .nav_menu2 {
    width: 50%;
    margin: 2px 0;
    display: flex;
    justify-content: center;
    font-size: 1rem;
  }
  .nav_bottom .location_name {
    margin: 0;
  }
  .address p {
    /* display: ; */
    margin: 0;
  }
  .address .country,
  .address .phone {
    display: none;
  }
  /* nav menu end  */
  .navbar {
    width: 100%;
  }
  .navbarright {
    margin: 0;
  }
  .banner {
    height: 60vh;
  }
  .carousel-item {
    height: 60vh;
  }
  /* section 02 staeted */
  .sec02 {
    height: auto;
    flex-wrap: wrap;
  }
  .sec02main {
    flex-wrap: wrap-reverse;
    transition: all 0.5s;
    height: auto;
    justify-content: center;
    overflow: auto;
    background-image: url("https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=328,h=677,fit=crop/YbNDRV1z3yFD1r1a/275537946_154995566890286_3902680925621921314_n-AoPEXoovn8F16aPx.jpg");
    background-size: contain;

    color: black;
    /* margin: 0; */
    padding: 0;
    /* width: 100%; */
    /* padding: 0rem; */
  }
  .sec02main .sec02container {
    /* height: AUTO; */
    /* flex-direction: column; */
    flex-wrap: wrap-reverse;
    background-color: rgba(225, 222, 222, 0.547);
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
    /* filter: blur(10px); */
  }
  .content {
    min-width: 300px;
    width: 100%;
    height: 100%;
    padding: 1.5rem;

    /* filter:blur(-10px) */
    /* background-color: black; */
  }
  /* this is bannerr imagess  */
  .imagecontainer2 {
    min-width: 300px;
    height: 50%;
    display: none;
  }
  /* card imagess with animation  */
  .imgmain {
    display: flex;
    flex-wrap: wrap;
    height: 1350px;
    width: 100%;
    /* max-width: 250px; */
  }
  .imgcont1 {
    height: 50%;
    width: 100%;
    margin: 0;
    /* min-height: 500px; */
  }
  .imginner {
    width: 100%;
  }
  .imgcont2 {
    display: none;
  }
  .imggrow {
    width: 90%;
    height: 95%;
    /* min-height:450px; */
  }
  .sec01 {
    padding: 1rem;
  }
  .sec01content {
    margin-left: -1rem;
    transition: all 1s;
  }
  .sec01content h1 {
    width: 90%;
  }
  .sec3subscription {
    width: 90%;
    height: 90%;
  }
  .sec3 {
    height: 330px;
    background-size: cover;
    /* background-repeat:no-repeat; */
  }
  .sec3subscription input {
    width: 80%;
  }
  .sec4 {
    height: auto;
    flex-wrap: wrap;
  }
  .sec4vid {
    min-width: 96%;
    margin-bottom: 15px;
  }
  footer {
    margin-bottom: 0rem;
    height: 1040px;
  }
  .mainfooter .nav_main {
    height: 160vh;
    /* overflow: visible; */
    /* background-color: red; */
  }
  .mainfooter .nav_main .bclose {
    display: none;
  }
  .mainfooter .nav_topitems {
    /* color:white;/ */
    height: 600px;
  }
  .mainfooter .address .country,
  .mainfooter .address .phone {
    display: block;
  }
  .product_card_container {
    width: 90%;
  }

  .prod_detail_container {
    gap: 0.1rem;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    padding: 1rem 0;
    /* align-items: center; */
  }
  .product_gallery {
    justify-content: center;
    width: 100%;
    margin: 0;
  }
  .allimg_container {
    width: 100%;
    margin: 0rem;
    min-width: 300px;
    align-items: center;
    height: auto;
    /* border: 2px solid orange; */
  }
  .bimage {
    height: 450px;
  }
  .product_detailtext {
    width: 100%;
    min-width: 300px;
  }

  .product_textcontent {
    align-items: center;
    width: 100%;
    justify-content: flex-start;
  }
  /* <---------------contact form style -------------------> */
  .contact_page_main{
    width:97%;
  }
  .contactinput input {
    margin-top: 0.1rem;
  }
  .contactform {
    padding: 1rem;
    width: 100%;
  }
  .contactimage {
    display: none;
  }
  .contact_page {
    height: 800px;
  }
}

@media screen and (max-width: 1100px) {
  .imgcont2 {
    display: none;
  }
  .mainfooter h5 {
    opacity: 1;
  }
  /* productdetail page styling */
  .allimg_container {
    width: 80%;
  }
  .product_detailtext {
    width: 80%;
  }
  /* contact page styling */
  .contactinput input {
    margin-top: 0.1rem;
  }
  .contactform {
    padding: 1rem;
    width: 100%;
  }
  .contactimage {
    display: none;
  }
  .contact_page {
    height: 800px;
  }
}

@media screen and (max-width: 600px) {
  .product_card_container {
    width: 100%;
    gap: 0.1rem;
  }
  .product_cardmain {
    min-width: 140px;
    max-width: 160px;
  }
  .productcard {
    min-width: 120px;
    max-width: 150px;
    height: 90%;
  }
  .productcard .imgcontainer {
    height: 60%;
  }
  .productcard .textcontainer .price {
    font-size: 0.7rem;
  }
  .productcard .textcontainer .buynow button {
    padding: 0.2rem 0.4rem;
    font-size: 0.7rem;
  }
  .productcard .textcontainer .name p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 1000px) {
  .productcard {
    width: 100%;
  }
  .product_cardmain a {
    width: 100%;
  }
}

/* about page media css */
@media screen and (max-width: 1150px) {
  .abus_promise {
    height: 700px;
  }
  .abus_promise_container {
    height: 100%;
    /* border: 2px solid blue; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .promise {
    min-width: 260px;
    width: 40%;
    height: 40%;
    /* border: 2px solid yellow; */
  }
}
@media screen and (max-width: 780px) {
  .abus_about .content h1 {
    font-size: 1.2rem;
    letter-spacing: 2px;
  }
  .abus_about .content p {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
  }
  .abus_promise {
    height: 700px;
  }
  .abus_promise_container {
    height: 100%;
    /* border: 2px solid blue; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .promise {
    min-width: 260px;
    width: 40%;
    height: 40%;
    /* border: 2px solid yellow; */
  }
  /* review page styling  */
  .abus_review_main {
    height: 350px;
    overflow: auto;
  }
  .abus_review_container {
    padding: 0;
    width: 250%;
    flex-wrap: nowrap;
    gap: 2rem;
    padding: 0 2rem;
  }

  .abus_review {
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    height: 80%;
    background-color: white;;
    /* width:100px; */
    /* border: 2px solid green; */
  }
  .abus_review_content{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 0.1rem;
  }
}
@media screen and (max-width: 580px) {
  .abus_main_about {
    width: 100%;
  }
  .abus_about {
    /* display: none; */
    height: 800px;
    width: 100%;
    /* border: 4px solid green; */
    padding: 1rem 0 0 0;
    flex-direction: column;
    justify-content: flex-start;
  }
  .abus_about .content {
    height: 60%;
    width: 100%;
    font-size: 0.6rem;
    /* border: 2px solid red; */
    /* padding: 0.2rem 0; */
  }
  .abus_about .content p {
    margin: 0;
    padding: 0;
  }
  .abus_about .content h1 {
    font-size: 1.2rem;
    letter-spacing: 2px;
    /* margin: 0; */
  }
  .abus_about img {
    height: 100%;
    width: 100%;
    /* border: 2px solid blue; */
  }
  .img {
    margin: 0;
    height: 40%;
    width: 70%;
    /* border: 2px solid brown; */
  }
  .abus_promise {
    height: 900px;
  }
  .abus_promise_container {
    height: 100%;
    /* border: 2px solid blue; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  .promise {
    min-width: 260px;
    width: 70%;
    height: 30%;
    /* border: 2px solid yellow; */
  }
}
@media screen and (max-width: 360px) {
  .img {
    margin: 0;
    height: 50%;
    width: 80%;
    /* border: 2px solid brown; */
  }
  .abus_about .content {
    height: 50%;
    width: 100%;
    font-size: 0.6rem;
    /* border: 2px solid red; */
  }
  .promise {
    width: 90%;
  }
}
